<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="scripts/angular.js"></script>
    <script src="scripts/11-SearchBar.js"></script>
    <style>
        body {
            font-family: Arial;
        }

        table {
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
            padding: 5px;
        }

        th {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <!-- Search: <input type="text" placeholder="Search Employees" ng-model="searchText"> --> 
        Search: <input type="text" placeholder="Search Employees" ng-model="searchText.name">
        </br>
        </br>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="employee in employees | filter:searchText">
                    <td>{{ employee.name | uppercase}}</td>
                    <td>{{ employee.dateOfBirth | date:"dd/MM/yyyy" }}</td>
                    <td>{{ employee.gender | lowercase}}</td>
                    <td>{{ employee.salary | currency:"₹":1}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>