<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="scripts/angular.js"></script>
</head>
<body ng-app="">
    <div ng-init="mySwitch=true; heading=true">
        <h1 ng-show="heading">Heading</h1>
        <button ng-disabled="mySwitch">Click Me</button></br></br>
        <input type="checkbox" ng-model="mySwitch">Button Disabled</br></br>
        mySwitch: {{mySwitch}}</br></br>

        <input type="checkbox" ng-model="heading">Heading Visible</br></br>
    </div>
</body>
</html>